.account {
  height: 100vh;
  background-image: url("../../images/adam-griffith-sWkkIiTJMYc-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-color: #0c0c0c7e;
  background-blend-mode: multiply;
  color: #05386b;
}

.account main {
  border-top: 5px solid #05386b;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #edf5e1;
}

.account main .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.account main button {
  border-radius: 10px;
  background-color: #05386b;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #edf5e1;
}

.account main button:hover {
  background-color: #379683;
}

.account main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account main form input {
  border-radius: 2px;
  width: 100%;
}

.account main form select {
  border-radius: 2px;
  width: 100%;
}

.account main form button {
  border-radius: 2px;
}

.account main form .submit {
  border-radius: 10px;
  background-color: #05386b;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #edf5e1;
}

.account main form .submit:hover {
  background-color: #379683;
}

.account main .inner-modal {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: #379683c7;
  color: #edf5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account main .delete-modal {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: #05386bcc;
  color: #edf5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account main .delete-modal .modal-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account main .delete-modal .modal-wrap .modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=Account.css.map */